.Display {
	justify-content: space-between;
	height: calc(100% - 110px);
	flex-direction: row;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	padding: 20px 10px;
	flex: 1;

	.CurrentDirectoryDisplay {
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0px;
		width: 60%;

		&::-webkit-scrollbar {
			display: none;
		}

		ul {
			padding: 5px;
			margin: 0px;
			width: 50%;

			li {
				transition: padding-left 0.3s ease;
				text-overflow: ellipsis;
				letter-spacing: 1px;
				list-style: none;
				cursor: pointer;
				color: #f72585;
				font-size: 13px;
				margin: 0px;
				width: 100%;

				&.active {
					padding-left: 20px;
					font-weight: bold;
				}
			}
			// list-style: url(../../public/FolderIcon.png);
		}
	}

	.RightDisplayContainer {
		border: 1px solid green;
		overflow-y: scroll;
		overflow-x: hidden;
		display: flex;
		width: 40%;
		flex-direction: column;

		&::-webkit-scrollbar {
			display: none;
		}

		.HeaderContainer {
			background-color: #0a1e21;
			.Header {
				text-align: center;
				width: 100%;
				font-size: 18px;
			}
		}
	}

	.RightCard {
		.card {
			background: linear-gradient(
				130deg,
				hsla(var(--primary200), 0.2),
				hsla(var(--neutral100), 0)
			);
			height: 100%;
			width: 40%;

			/** Backdrop filter adds that nice Glassmorphism effect if there are background elements **/
			-webkit-backdrop-filter: blur(0.5px);
			backdrop-filter: blur(0.5px);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		}

		@keyframes glow {
			0%,
			100% {
				stroke-width: 3px;
			}
			50% {
				stroke-width: 6px;
			}
		}

		.svg {
			overflow: visible;

			&__stroke {
				fill: none;
				stroke-miterlimit: 10;

				&--glow {
					stroke-width: 3px;
					animation-name: glow;
					stroke: hsla(var(--primary200), 0.5);
				}

				&--bottom {
					stroke-width: 1.5px;
					stroke: hsl(var(--primary200));
				}

				&--top {
					stroke-width: 1px;
					stroke: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}
