.Display {
	justify-content: space-between;
	height: calc(100% - 110px);
	flex-direction: row;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	padding: 20px 10px;
	flex: 1;

	.CurrentDirectoryDisplay {
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0px;
		width: 60%;

		&::-webkit-scrollbar {
			display: none;
		}

		ul {
			padding: 5px;
			margin: 0px;
			width: 50%;

			li {
				transition: padding-left 0.3s ease;
				text-overflow: ellipsis;
				letter-spacing: 1px;
				list-style: none;
				cursor: pointer;
				color: #f72585;
				font-size: 13px;
				margin: 0px;
				width: 100%;

				&.active {
					padding-left: 20px;
					font-weight: bold;
				}
			}
			// list-style: url(../../public/FolderIcon.png);
		}
	}

	.RightDisplayContainer {
		flex-direction: column;
		border-radius: 10px;
		position: absolute;
		display: flex;
		width: 70%;
		right: 0px;
		align-items: end;
		// overflow: hidden;

		// box-shadow: 3px 3px 5px black;
		// border: 1px solid green;

		.Overlay {
			// border: 1px solid blue;
			position: absolute;
			height: 500px;
			width: 70%;
			z-index: 1;
			top: -80px;
			right: 0px;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		.container {
			// border: 1px solid red;
			justify-content: center;
			flex-direction: column;
			position: relative;
			align-items: end;
			overflow: hidden;
			display: flex;
			width: 250px;
			right: 70px;
			z-index: 2;
			top: 50px;

			.HeaderContainer {
				overflow: hidden;
				height: 50px;
				width: 100%;

				.Header {
					text-overflow: ellipsis;
					text-align: center;
					font-weight: 500;
					font-size: 16px;
					width: 100%;
				}
			}

			.ComponentContainer {
				flex-direction: column;
				align-items: center;
				overflow-x: hidden;
				position: relative;
				overflow-y: auto;
				display: flex;
				width: 100%;
				z-index: 2;

				&::-webkit-scrollbar {
					display: none;
				}

				.ImageDisplayComponent {
					justify-content: center;
					align-items: center;
					object-fit: cover;
					overflow: hidden;
					display: flex;
					height: 180px;
					width: 100%;

					img {
						object-fit: cover;
						height: auto;
						width: 100%;
					}
				}
			}
		}
	}
}
