.Toolbar {
	// border: 1px solid red;
	border-bottom: 1px solid aqua;
	text-shadow: 0px 0px 10px aqua;
	background-color: transparent;
	letter-spacing: 1px;
	font-weight: 500;
	display: flex;
	color: aqua;
	height: 40px;
	padding: 5px;
	margin-bottom: 5px;

	> div {
		justify-content: center;
		box-sizing: border-box;
		align-items: center;
		display: flex;
		padding: 10px;
		height: 100%;
		width: 50px;
	}

	.ArrowContainer {
		// border: 1px solid blue;
		display: none;

		height: 100%;
		img {
			display: none;
			transform: rotate(180deg);
			height: 25px;
			width: auto;
		}
	}

	.PathContainer {
		// border: 1px solid green;
		justify-content: flex-start;
		padding: 0px;
		width: 100%;
		flex: 1;

		p {
			// box-shadow: 2px 2px 2px black;
			// border: 1px solid black;
			border-radius: 10px;
			text-align: start;
			padding: 10px;
			width: 100%;
		}
	}

	.IconContainer {
		// border: 1px solid red;
		display: none;

		img {
			height: 30px;
		}
	}
}
