html,
body,
#root,
.AppContainer {
	font-family: 'Chakra Petch', sans-serif;
	background-color: #100e18;
	/* background-image: url('./Assets/perspective-pink-grid-dark-background-futuristic-vector-illustration-background-style-80s_710001-733.avif'); */
	/* background-position: center; */
	/* background-size: cover; */
	box-sizing: border-box;
	color: white;
	padding: 0px;
	height: 100%;
	margin: 0px;
	width: 100%;
}
